@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat&family=Croissant+One&family=Raleway&display=swap');


body {
    background-color:rgb(241, 176, 110);
}


.Heading {
    text-align: center;
}


.Recipe-heading {
    color:rgba(50, 28, 101, 0.671) ;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;


}
.Ingredients {
    border: 2px solid black ;
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
}


.Ingredients-table {
    border: 1px solid black;
    margin: 0 auto;
}


.Ing-Amo {
    color: purple;
}


.Eggs-vol1 {
    color: darkslategray;
}


.Salt-vol1 {
    color: darkslategray;
}


.Pepper-vol1 {
    color: darkslategray;
}


.Milk-vol1 {
    color: darkslategray;
}


.Instructions {


    border: 2px solid black;
    width: 40%;
    margin: 0 auto;
}

.pictureomelette{
    width: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.Instructions ol {
    margin: 3 auto;
    width: 40% ;
    color: darkblue;
}

.Ins-vol1 {
    color: green;
}
.footer  {
    color: brown;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}
